<input type="text" [(ngModel)]="title">
{{title}}

<app-product></app-product>

<div *ngIf="title === 'jose'">
  Es un div
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'jose'">Este es jose</p>
  <p *ngSwitchCase="'catire'">Este es el catire</p>
  <p *ngSwitchCase="'ricky'">Este es ricky</p>
  <p *ngSwitchDefault>no hay vida</p>
</div>

<button (click)="addItem()"> Add</button>

<ul>
    <li *ngIf="items.length===0">La lista esta vacia rey</li>
  <li *ngFor="let saludos of items; index as i">
    {{saludos}} {{ i }}
    <button (click)="deleteItem(i)"> delete</button>
  </li>
</ul>


<div *ngFor="let product of products">
  {{ product.title }}
  <img [src]="product.image" alt="">
  {{product.price}}
</div>
